*{
    padding: 0;
    margin: 0;
}

/*header and background*/
header{
    background-image: url('/UI/assets/207705-167160-R3L8T8D-1000-McCarleyBeth_Travel_ANightAtDeadvlei_SS-1000-541576bc48-1484729696.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}
ul{
    list-style-type: none;
     display: flex; 
    flex-wrap: wrap; 
    font-weight: bolder;
    justify-content: flex-end;
}
ul li{
    display: inline-block;
    flex-wrap: wrap;
     margin-top: 50px; 
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    flex-grow: 1px; 
    flex-wrap: wrap; 
     padding: 50px;
    
      
}
ul li .active a{
    background-color: #fff;
    color: #000;
    flex-wrap: wrap;
}
 
.main{
    margin: auto;
    flex-wrap: wrap;
    justify-content:center;

}
.logo img{
     float: left; 
    width: 80px;
     height: auto; 
    margin-top: 10px;
    margin-left: 50px;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
color:#fff;
font-size:70px;

}

 .Your-day{
    text-align:justify;
     flex-wrap: wrap; 
    padding: 100px;
    
     
}  
.Your-day h1{
    text-transform: uppercase;
    color: bisque;
}
 .alin-form {
    background-color: grey;
    display: inline-flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    justify-content: justify;
    
}
.alin-form h1{
    color: bisque;
    text-transform: uppercase;
}
/* sign up and sign in*/
.wraps{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 120px;
}

.wraps textarea{
    resize: none;
    height: 120px;
    background: rgba(0,0,0,0.8);
    outline:none;
 }
h2{
    text-align: center;

}
input[type=text],input[type=password], input[type=email]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline:none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 2px;
    font-weight: bold;
}
   /*30 08 2019*/
.required{
    display: flex;
     justify-content: center; 
     flex-wrap: wrap;
     margin-top: 20px;
     

}
 .our-need{
    justify-content: flex-start;
    background: grey;
    padding: 10px;
    border: 1em;
} 
.our-need p{
    justify-content: flex-start;
    justify-items: center;
    color: bisque;
    padding: 20px;
    text-transform: uppercase;
}
.our-need a{
    text-decoration: none; 
}
.our-need a p:hover{
    background-color: #003366;
    color: red;
}

.your-entry{
    display: inline-flexbox;
    background: #546354;
    flex-wrap: wrap;
}
.your-entry a{
    text-decoration: none;
    margin-right: 30px;
    justify-content: center;
}
.your-entry a:hover{
    color:orange;
    background: #003366;
    
    

}
.buttons{
    padding: 10px;
    margin-left: 70px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 15px;
    
}
/*on 31 august 2019*/
.changes{
    text-align: center; 
   flex-wrap: wrap;
   padding: 20px;
}
.changes a{
 text-decoration: none;
 color: #ffffff;
 opacity: 0.9;
   text-transform: uppercase;

}
/*on 01 sept/2019*/
/*about us*/
.img-wrap{
    width: 100%;

}
.img-wrap img{
    width: 40%;
   height: 30%; 
    padding: 50px;
    border-radius: 70%;
   
}
 #about-us{
    display: flex;
    justify-content: center;
     align-items: center; 
}
 
.texts{
    text-transform: initial;
     margin-top: 30px;
}
/*on 109 2019 working on entry*/

#controls h1 {
    text-align: center;
    justify-content: center;
    color: #ddd;
    margin-bottom: 5px;
    margin-top: 70px;
}


/*footer*/
.footer{
    background-color: rgb(69, 69, 70);
    padding: 20px;
    color: bisque;
    height: 1vh;
    font-size: 10px;
    text-align: center; 
    
} 