*{
    padding: 0;
    margin: 0;
}

/*body and background*/
header{
    background-image: url('../assets/notebook-3397135_960_720.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    
}
ul{
    list-style-type: none;
     display: flex; 
    flex-wrap: wrap; 
    font-weight: bolder;
    justify-content: flex-end;
}
ul li{
    display: inline-block;
    flex-wrap: wrap;
     margin-top: 50px; 
}
ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    flex-grow: 1px; 
    flex-wrap: wrap; 
     padding: 50px;
    
      
}
ul li a:hover{
  color: rgb(11, 180, 11);
}

ul li .active a{
    background-color: #fff;
    color: #000;
    flex-wrap: wrap;
}
 
.main{
    margin: auto;
    flex-wrap: wrap;
    justify-content:center;

}
.logo img{
     float: left; 
    width: 150px;
     height: auto; 
    margin-top: 20px;
    margin-left: 50px;
}
.title{
    position: absolute;
    
     top: 50%;
    left: 50%; 
     transform: translate(-50%,-50%); 
}
.title h1{
color:black;
font-size:35px;
text-transform: uppercase;
}

.title h2{
    color: black;
    font-size:20px;
    font-weight:bold;

}

.title a{
    padding: 1%;
    background-color:#546354;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.title a:hover{
    color: white;
    background-color: rgb(2, 42, 2);
}

 .Your-day{
    text-align:justify;
     flex-wrap: wrap; 
    padding: 100px;
    
     
}  
.Your-day h1{
    text-transform: uppercase;
    color: bisque;
}
 .alin-form {
    background-color: grey;
    display: inline-flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    justify-content: justify;
    
}
.alin-form h1{
    color: bisque;
    text-transform: uppercase;
}
/* sign up and sign in*/
.wraps{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: #546354;
    box-sizing: border-box;
    padding: 40px;
    color: #ddd;
    margin-top: 120px;
}
.wraps h2{
    text-transform: uppercase;
    color: black;
}

input[type=text],input[type=password], input[type=email]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10); 
    outline:none;
    border: none;
    border-bottom: dotted #fff;
    color: white;
    margin: 2px;
    font-weight: bold;
}
    .types{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline:none;
    border: none;

    background: green;

    opacity: 0.9;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
.types a:hover{
    background: #003366;
    opacity: 0.7;
    color: white;
}
.types a{
    text-decoration: none;
    color: #fff;
}
#main{
    
     display: flex; 
    flex-wrap: wrap;
    font-size: 15px;
    padding: 20px;
}
#main a{
    text-decoration: none;
    margin-left:15px;
    color: black;
    text-transform: uppercase;

} 
.required {
    
    display: flex;
}
 .our-need{

    background-color:grey;
    width: 20vw;
    height: 82vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;

} 
.our-need p{
    justify-content: flex-start;
    justify-items: center;
    color: bisque;
    padding: 40px;

    text-transform: uppercase;
}
.our-need a{
    text-decoration: none; 
}
.our-need a p:hover{
    background-color: #003366;
    color:#ddd;
}

.your-entry a{
    text-decoration: none;
    margin-right: 30px;
    justify-content: center;
}
.your-entry a:hover{
    
    background: #003366;
}
.your-entry {
    display: flex;
    margin-top: 30px; 
    text-align: justify;
    margin-left: 15px; 
    
}
.your-entries {
    display: flex;
     margin-top: 10px; 
    text-align: justify;
     margin-left: 400px; 
     flex-wrap:wrap;
    
}

.first {
    background-color: #FFF;
    padding: 30px;
    margin: 0px 10px;
    
}

.second {
    background-color: #FFF;
    padding: 30px;
    margin: 0px 10px;
    
}
.third {
    background-color: #FFF;
    padding: 30px;
    margin: 0px 10px;
    
}
#time {
    padding: 3px;
    font-size: 20px;

}

/*on 31 august 2019*/
.changes{
    text-align: center; 
   flex-wrap: wrap;
   padding: 20px;
}
.changes a{
 text-decoration: none;
 color: #ffffff;
 opacity: 0.9;
   text-transform: uppercase;

}

/* on 19 09 2019 */

.entries{
    display: flex;
     justify-content: center; 
     flex-wrap: wrap;
     margin-top: 20px;
     

}
 .needed{
    justify-content: flex-start;
    background: grey;
    padding: 10px;
    border: 1em;
} 
.needed p{
    justify-content: flex-start;
    justify-items: center;
    color: bisque;
    padding: 20px;
    text-transform: uppercase;
}
.needed a{
    text-decoration: none; 
}
.needed a p:hover{
    background-color: #003366;
    color: red;
}

.my-entry{
    display: inline-flexbox;
    background: #546354;
    flex-wrap: wrap;
}
.my-entry a{
    text-decoration: none;
    margin-right: 30px;
    justify-content: center;
}
.my-entry a:hover{
    color:orange;
    background: #003366;
    
    

}
 .buttons{
     display: flex;
     flex-wrap: wrap;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
    background: #546354;
    
    
} 
.buttons a{
    color: white;
    font-weight:bold;
    text-decoration: none;

   
}

.an-entry{
    display: flex;
    margin-top: 10px; 
   text-align: justify;
    margin-left: 400px; 
    flex-wrap:wrap;
   
}
.entry-button{
    height: 38px;
    background: #546354;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px;
    margin-left:500px; 
    text-transform:uppercase;
    
}
.entry_buttons{
 height: 38px; 
 background: grey;
 margin-top: 25px;
 width: 100px;
color:#fff;
border-radius: 20px;
box-sizing:border-box;
outline: none;
border: none;
float: right;
margin-right: 200px; 
text-transform:uppercase; 
}
.entry_buttons a{
    color: #fff;
   text-decoration: none;

}
.entries-button{
    height: 38px;
    background: #546354;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px; 
    text-transform:uppercase;
    text-align: center;
    margin-top:20px;
}


.entry_button{
    height: 38px;
    background: #546354;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px; 
    text-transform:uppercase;
    text-align: center;
}

.entry_button a {
    color:#fff;
}
.entry_button a:hover{
    background:#546354;
}



/*footer*/
.footer{
    background-color: rgb(220, 220, 230);
    padding: 20px;
    color: rgb(0, 128, 0);
    height: 1vh;
    font-size: 15px;
    text-align: center; 
    
} 